<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Manager</th>
    <th>Developer</th>
    <th>Qa</th>
    <th>Delete Project</th>
    <th>Show all Bugs</th>
    <th>Show all Features</th>
   
  </tr>
  <% @projectts.each do |p| %>
    <tr>
      <td><%= p.title %></td>
      <td><%= p.description %></td>
      <td><%= p.manager.name %></td>
      <td><%= p.developer.name %></td>
      <td><%= p.qa.name%></td>
      <td><%= link_to 'Show Project', projectt_path(p) %></td>
      <td>
        <%= button_to 'Delete' , projectt_path(p), method: :delete, data: {
      confirm: "are you sure"} %>
      </td>
      <td><%= link_to 'Show all bugs', bug_bug_path(p) %></td>
      <td> <%= link_to 'Show all features', feature_bug_path(p) %> </td>
     
       %>
    </tr>
  <% end %>
</table>
<% if user_signed_in? %>
  <% if current_user.user_type == "manager" %>
    <%= link_to 'Create new project ',
new_projectt_path %>
  <% end %>
<% end %>
